.payloadCard {
    width: 100%;
    height: fit-content;
    margin-bottom: 1vmin;
    border-radius: 10px;
    overflow: hidden;

    .cardHeader {
        padding: 1vmin;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        transition: .3s ease-in-out;

        h1 {
            width: 95%;
        }

        span {
            width: 5%;
            display: grid;
            place-items: center end;
        }
    }

    #unactive.cardDetail {
        display: none;
    }

    .cardDetail {
        width: 100%;
        padding: 1vmin 2vmin;
        background: #f5f1ee;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: .5vmin;

        > .txtwrapper {
            > h4 {
                display: flex;
            }
        }
    }
}

.commentContainer {
    max-height: 400px;
    overflow-y: scroll;
}

.eachStdDetails {
    background: var(--color);
    padding: 1.5vmin;
    margin-top: 1vmin;
    border-radius: 10px;

    .wrap {
        display: grid;
        grid-gap: 10px; /* Adjust grid gap as needed */
        grid-template-columns: max(20%, 200px) 1fr 50px;
        grid-template-rows: auto;

        p:nth-child(3) {
            grid-column: 1 / span 2;
            grid-row: 2 / 3;
            text-wrap: wrap;
        }

        .deleteBtn {
            display: grid;
            place-items: center;
            cursor: pointer;
            transition: .3s;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    gap: .75vmin;

    .each-contact {
        background: var(--color);
        display: grid;
        grid-template-columns: 40px 1fr;
        border-radius: 10px;
        padding: .25vmin;
        gap: 0 .5vmin;

        h4 {
            grid-row: 1 / 5;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {
            grid-column: 2 / 3;
        }
    }
}

.editBtn {
    outline: none;
    border: none;
    cursor: pointer;
    background: var(--color);
    padding: .75vmin;
    border-radius: 10px;
}
.editBtn:hover {
    filter: brightness(0.9);
}