#homepageTEA .welcomeCard {
    background: var(--color);
    margin-bottom: 1.5vmin;
}
#homepageTEA .controlContainer {
    margin-bottom: 1.5vmin;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vmin;
}